.tree{
    font-size: 20px;
    color: #2C2C2C;
}
.hide-class {
    display: none;
}

ul{
    list-style-type: none;
}
.branch{
    font-size: 30px;
}
.sub-title{
    margin-bottom: 50px;
}
li.branch{
    background-color: #A6A6A6;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    padding-left: 20px;
}
.branch.twig:before{
    content: "\f138";
    font-family: FontAwesome;
}
.branch.leaf:before{
    content: "\f139";
    font-family: FontAwesome;
}
.aj.twig2:before{
    content: "\f138";
    font-family: FontAwesome;
}
.aj.leaf2:before{
    content: "\f139";
    font-family: FontAwesome;
}
.data-display{
    position: fixed;
}
.outer{
    position: relative;
}
.panel{
    background-color:  #A6A6A6;
    height: 100px;
    width:90%;
    margin: auto;
    font-size: 30px;
}
